.imdb_picture {
	width: 15%;
	height: auto;
}

.table_image {
	width: 10%;
	height: auto;
}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #808080;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #808080;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #808080;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
}
.days {
margin-top: 10px;
}